.hero-section {
  width: 100%;
  height: 97vh;
  background-color: #F8F8F8;
  position: relative;
}

.bg-shape {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  @media (max-width: 800px) {
    display: none;
  }
}

.hero-content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  
  @media (max-width: 800px) {
    justify-content: center;
  }
  &__text {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    z-index: 3;
    margin-top: 5rem;
  
    @media( max-width: 800px ) {
      text-align: center;
      align-items: center;
    }
  
    h4{
      color: #010103;
      font-size: 2.2rem;
    }
    h1 {
      font-size: 5.2rem;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      line-height: 1.2;
      margin-top: 16px;
      margin-bottom: 23px;

      span{
        color: #FF4D30;
      }
    }
    p {
      color: #706f7b;
      font-size: 16px;
      font-family: "Rubik", sans-serif;
      margin-bottom: 40px;
    }

    &__btns {
      display: flex;
      gap: 20px;
      font-size: 16px;

      @media(max-width:450px) {
        flex-direction: column;
      }
      
      a {
        text-decoration: none;
        color: white;
        font-weight: 700;
      }
      
      &__book-ride {
        background-color: #FF4D30;
        padding: 1.8rem 3rem;
        border-radius: 3px;
        box-shadow: 0 10px 15px 0 rgb(255 83 48 / 35%);
        border: 2px solid #FF4D30;
        transition: all 0.3s;

        @media(max-width:450px) {
          padding: 1.8rem 8rem;
        }

        &:hover {
          box-shadow: 0 10px 15px 0 rgb(255 83 48 / 60%);
          background-color: #fa4226;
        }
      }

      &__learn-more {
        background-color: #010103;
        padding: 1.8rem 3rem;
        border-radius: 3px;
        border: 2px solid #010103;
        transition: all 0.3s;

        @media(max-width:450px) {
          padding: 1.8rem 8rem;
        }

        &:hover {
          background-color: #FFF;
          color: #010103;
        }
      }
    }
  }

  &__car-img {
    z-index: 2;
    position: absolute;
    right: 0;
    max-width: 65%;
    width: 100%;
    margin-top: 5rem;


    @media(max-width:800px) {
      display: none;
    }
  }

}
