@forward "../styles/global";
@forward "../styles/HeroStyles/";
@forward "../styles/NavbarStyles";
@forward "../styles/PlanTripStyles";
@forward "../styles/BookStyles";
@forward "../styles/PickStyles/";
@forward"../styles/Banner/"