.navbar {
  max-width: 1980px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  margin: 0 auto;
 &__img {
  width: 150px;
  img {
    width: 100%;
    height: 100%;
  }
}

&__links {
  display: flex;
  padding: 10px;
  list-style: none;
  font-weight: 600;
  a {
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #010103;
    transition: all 0.3s;

    &:hover {
      color: #FF573C;
    }
  }

  @media(max-width:1000px){
    display: none;
  }
}
 &__buttons {
  display: flex;
  gap: 40px;
  align-items: center;
  
  &__sign-in {
    padding: 10px;
    color: #010103;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    
    &:hover {
      color: #FF573C;
    }
  }
     
  &__register {
    background-color: #FF4D30;
    padding: 15px 30px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 10px 15px 0 rgb(255 83 48 / 35%);
    transition: all 0.3s;

    
    &:hover {
      box-shadow: 0 10px 15px 0 rgb(255 83 48 / 50%);
      background-color: #fa4226;
    }
  }

  a {
    text-decoration: none;
  }
  
  @media(max-width:1000px){
    display: none;
  }
 }
 
}